<section id="HomeSec">
    <article class="container-fluid">
        <div class="row align-items-center" style="height:650px;">
            <div class="col-6 d-none d-md-block"></div>
            <div class="col-6">
                <!-- <div class="socialIcons">
            <i class="fab fa-facebook-square fs18"></i>
            <i class="fab fa-google-plus-square fs18"></i>
            <i class="fab fa-linkedin fs18"></i>
        </div> -->
                <h1> I'M SIVAPRASAD </h1>
                <h4> UI DESIGNER & UI DEVELOPER </h4>
                <button class="btn btn-dark"> HIRE ME NOW &nbsp;&nbsp; <i class="fas fa-check-square"></i> </button>
            </div>
        </div>
    </article>
</section>
<article class="container-fluid border-bottom" style="height:100vh;">
    <section id="aboutMebit">
        <article class="container">
            <div class="row">
                <div class="col m-auto pt-5">
                    <div class="h4 text-center pt-5 pb-5"> As a designer and developer, I understand the perfect user
                        interface should look good and work even better. </div>
                </div>
            </div>

        </article>
    </section>

    <section class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-left">
                    <div class="col-md-8 rounded">
                        <div class="border sk-1">
                            <div class="sk-1-rev">
                            <div class="fs-18 pt-3 pb-3 text-center border-bottom border-white"> I'M Currently Working In
                            </div>
                            <p class="pl-3 pr-3 h4">
                                ValueLabs PVT LTD.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <div class="col-md-8 rounded offset-md-1">
                        <div class="border sk-1">
                            <div class="sk-1-rev">
                                <div class="pt-3 fs-18 pb-3 text-center border-bottom border-white"> I'M In The Proect
                                </div>
                                <p class="pl-3 pr-3 h4">
                                    Maxwell Health Care.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-left">
                    <div class="col-md-8 col-xs-12 rounded offset-md-2">
                        <div class="border sk-1">
                            <div class="sk-1-rev p-2">
                            <div class="pt-3 pb-3 fs-18 text-center border-bottom border-white"> I'M Designated as </div>
                            <h4 class="pl-3 pr-3">
                                Senior Software Engineer.
                            </h4>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="container text-center">
                    <div class="row mt-5">
                        <div class="col mt-3 mb-5">
                            <button class="btn btn-dark"> SEE MY RESUME </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>


<!-- 
<section id="sampleProject">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="h3 text-center">
                    Project 1
                </div>
            </div>
            <div class="col-md-3">
                <div class="h3 text-center">
                    Project 1
                </div>
            </div>
            <div class="col-md-3">
                <div class="h3 text-center">
                    Project 1
                </div>
            </div>
            <div class="col-md-3">
                <div class="h3 text-center">
                    Project 1
                </div>
            </div>
        </div>
    </div>
</section> -->
<section id="contact">

</section>